<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Updating&hellip;</title>
  <link rel="icon" type="image/png" sizes="26x26" href="{{ static_url('img/favicon.png') }}">
  <link rel="stylesheet" href="{{ static_url('css/update-progress.css') }}">
</head>
<body>
  {% include "_update_progress_body.html" %}
  <script src="{{ static_url('js/update-progress.js') }}"></script>
</body>
</html>
